* {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}
#mana-orb {
    width: 50vh;
    height: 50vh;
    background: radial-gradient(rgb(0, 215, 215) 0%, rgb(0, 235, 235) 50%, rgb(0, 255, 255) 100%); /* rgb(0, 219, 219); */
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: orb-glow;
    
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
}
#mana-orb:hover {
    width: 51vh;
    height: 51vh;
}
#mana-orb:active {
    width: 49vh;
    height: 49vh;
}
@keyframes orb-glow {
    0% {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
        box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
    }
    50% {
        -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 219, 219, .75);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0, 219, 219, .75);
        box-shadow: 0px 0px 20px 5px rgba(0, 219, 219, .75);
    }
    100% {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
        box-shadow: 0px 0px 15px 5px rgba(0, 219, 219, .75);
    }
}
#mana-txt {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    padding: 0.7rem 1rem;
    top: 0;
    left: 0;
}

#holding-wrapper {
    opacity: 0;
    border: 2px solid rgb(0, 153, 153);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 1rem;
    border-radius: 1rem;
    transition-duration: 1s;
}
#holding-bar {
    background-color: aqua;
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    transition-duration: 0.5s;
}
#circ-menu {
    width: 50vh;
    height: 50vh;
    border: 5px solid rgb(0, 219, 219);
    border-color: rgb(0, 219, 219) transparent transparent rgb(0, 219, 219);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translate(50%, -50%) rotate(135deg);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
#menu-btn {
    width: 3rem;
    height: 3rem;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    transition-duration: 0.3s;
    /* box-shadow: 0px 0 10px aqua; */
}
#menu-btn:hover {
    transform: translate(0, -50%);
}

.point {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: aqua;
    border-radius: 50%;
    transition-duration: 0.2s;
    opacity: 0;
}
.menu-txt {
    color: aqua; 
    width: min-content; 
    text-align: right;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    transform: translate(-110%, -30%); 
    transition-duration: 0.3s;
}
.menu-txt:hover {
    transform: translate(-120%, -30%); 
}

#poppup-wrapper {
    width: 20vw;
    height: calc(100% - 4px);
    border: 2px solid aqua;
    transition-duration: 0.5s;
    opacity: 0;
}
#poppup-content {
    /* background-color: aqua; */
    border-top: 2px solid aqua;
    width: 100%; height: 100%;
    margin-top: 2.9rem;
}
.btn-t1 {
    border: 1px solid aqua;
}

#tip {
    border: 2px solid aqua;
    width: max-content;
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    left: calc(20vw + 6px);
    transition-duration: 0.5s;
}
#tip-txt {
    color: white;
    text-align: center;
    padding: 10px;
}